.block {
    list-style: none;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    max-width: max-content;
    padding: 10px 25px;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.body {
    width: 100%;
    align-items: center;
    gap: 30px;
}
