.layout_dark_theme {
    --primary-bg-color: #323437;
    --secondary-bg-color: #2c2e31;
    --third-bg-color: #d1d0c5; // for containers
    --primary-color: #e2b714;
    --secondary-color: #646669;
    --third-color: #d1d0c5;
}
