.layout_light_theme {
    --primary-bg-color: #e1e1e3; //bg color
    --secondary-bg-color: #d1d3d8; // sub alt color
    --third-bg-color: #e1e1e3; // for containers
    // for containers
    --primary-color: #e2b714; //main color
    --secondary-color: #aaaeb3; //sub color
    --third-color: #323437; // text color
    --error-color: #da3333; //error color
}
