.layout_olive_theme {
    --primary-bg-color: #e9e5cc; //bg color
    --secondary-bg-color: #d4cfbc; // sub alt color
    --third-bg-color: #e9e5cc; // for containers
    // for containers
    --primary-color: #92946f; //main color
    --secondary-color: #b7b39e; //sub color
    --third-color: #373731; // text color
    --error-color: #cf2f2f; //error color
}
