.layout_retrocast_theme {
    --primary-bg-color: #07737a; //bg color
    --secondary-bg-color: #26858b; // sub alt color
    --third-bg-color: #07737a; // for containers
    // for containers
    --primary-color: #88dbdf; //main color
    --secondary-color: #f3e03b; //sub color
    --third-color: #ffffff; // text color
    --error-color: #ff585d; //error color
}
