.layout_rosepindown_theme {
    --primary-bg-color: #fffaf3; //bg color
    --secondary-bg-color: #f0e9df; // sub alt color
    --third-bg-color: #fffaf3; // for containers
    // for containers
    --primary-color: #56949f; //main color
    --secondary-color: #c4a7e7; //sub color
    --third-color: #286983; // text color
    --error-color: #b4637a; //error color
}
