.wrapper {
    width: 65%;
    justify-content: space-between;
    margin: 0 auto;
}
@media screen and (max-width: 800px) {
    .wrapper {
        flex-direction: column;
        width: 100%;
    }
}
