.wrapper {
    max-height: 98%;
    overflow-y: scroll;
}
.table_wrapper {
    font-size: 12px;
    width: 100%; /* Adjust width as needed */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse;
}

.table_header {
    background-color: var(--primary-bg-color);
    color: var(--third-color);
    position: sticky;
    top: 0; /* Фиксировать шапку таблицы наверху */
    z-index: 2;
}
.table_row {
    background-color: var(--primary-bg-color);
}

.table_cell {
    padding: 0.5rem;
    text-align: left;
    font-weight: 400;
}
.name {
    min-width: 130px;
    max-width: 140px;
    img {
        margin-right: 15px;
    }
}
.even {
    background-color: var(--secondary-bg-color);
}

.first_left_cell {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.last_left_cell {
    border-bottom-left-radius: 6px;
}

.last_right_cell {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table_body {
    color: var(--third-color);

    font-size: 12px;
}

.avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.divide {
    word-break: break-all; // Это свойство разрешает переносить слова на символах, отличных от пробелов
}
